:root {
  --font-family: "Inter", sans-serif;
  --white: #fff;
  --white-07: rgba(255, 255, 255, 0.7);
  --white-02: rgba(255, 255, 255, 0.2);
  --red: #f31717;
  --darkblue: #131730;
  --darkblue-02: rgba(19, 23, 48, 0.2);
  --darkblue-06: rgba(19, 23, 48, 0.6);
  --darkblue-08: rgba(19, 23, 48, 0.8);
  --bg: #f2f6f9;
  --bluviolet: #5b48fc;
  --green: #9de311;
}

@font-face {
  font-family: Inter;
  src: url("../fonts/Inter/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Inter;
  src: url("../fonts/Inter/Inter-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Inter;
  src: url("../fonts/Inter/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Inter;
  src: url("../fonts/Inter/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
  scrollbar-gutter: stable;
}

html *,
html *::before,
html *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  font-size: 18px;
  font-family: var(--font-family);
  font-weight: 300;
  line-height: 133%;
  color: var(--darkblue-08);
  overflow-x: hidden;
  background-color: var(--white);
  font-style: normal;
}
@media (max-width: 767px) {
  body {
    font-size: 16px;
  }
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  max-width: 100%;
  overflow: auto;
}

td,
th {
  min-width: 320px;
  padding: 16px 12px;
  border: 1px solid var(--darkblue);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.4;
  color: var(--darkblue);
}

@media (max-width: 767px) {
  h1 {
    font-size: 1.6em;
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1.4em;
  }
  h4 {
    font-size: 1.3em;
  }
  h5 {
    font-size: 1.2em;
  }
  h6 {
    font-size: 1.1em;
  }
}
.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

.visually-hidden:not(:focus),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.table {
  max-width: 100%;
  overflow: auto;
}

.button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 64px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 20px 30px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  background: var(--bluviolet);
  color: var(--white);
  border: none;
  border-radius: 32px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  cursor: pointer;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
.button::after {
  position: relative;
  z-index: 2;
  display: block;
  width: 10px;
  height: 15px;
  margin-left: 16px;
  content: "";
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='9' height='14' viewBox='0 0 9 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.5 13L7.5 7L1.5 1' stroke='white' stroke-width='2' /%3e%3c/svg%3e");
  background-size: contain;
  background-repeat: no-repeat;
}
.button::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(19, 23, 48, 0.25);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  content: "";
  pointer-events: none;
  opacity: 0;
}
.button span {
  position: relative;
  z-index: 2;
}
.button--social {
  color: var(--white);
}
.button--social.telegram {
  background-color: #1e96c8;
}
.button--social.whatsapp {
  background-color: #43ad45;
}
.button--social svg {
  position: relative;
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 12px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.button--social::after {
  display: none;
}
.button:hover::before, .button:active::before, .button:focus::before {
  opacity: 1;
}
@media (max-width: 1023px) {
  .button--social {
    width: 48px;
    padding: 12px;
  }
  .button--social span {
    display: none;
  }
  .button--social svg {
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  .button {
    height: 55px;
  }
  .button--social {
    width: 40px;
    height: 40px;
    padding: 8px;
  }
}
@media (max-width: 374px) {
  .button {
    height: 50px;
    padding: 20px 23px;
    font-size: 14px;
  }
  .button::after {
    margin-left: 8px;
  }
  .button--social {
    width: 40px;
    height: 40px;
    padding: 8px;
  }
}

.title {
  margin: 0;
  font-size: 32px;
  font-weight: 500;
  line-height: 125%;
}
.title span {
  color: var(--green);
}
@media (max-width: 767px) {
  .title {
    font-size: 24px;
  }
}

.wrapper {
  width: 100%;
  max-width: 1504px;
  margin: 0 auto;
}
@media (max-width: 1600px) {
  .wrapper {
    max-width: calc(100% - 48px - 48px);
  }
}
@media (max-width: 767px) {
  .wrapper {
    max-width: calc(100% - 20px - 20px);
  }
}
@media (max-width: 374px) {
  .wrapper {
    max-width: calc(100% - 10px - 10px);
  }
}

.video-bg {
  position: relative;
}
.video-bg__container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.video-bg__container::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(19, 23, 48, 0.5)), to(rgba(19, 23, 48, 0.5)));
  background: linear-gradient(90deg, rgba(19, 23, 48, 0.5), rgba(19, 23, 48, 0.5));
  content: "";
}
.video-bg__video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.service-card__icon {
  display: block;
  width: 50px;
  margin-bottom: 16px;
  color: var(--green);
  -webkit-transition: color 0.3s, -webkit-transform 0.3s;
  transition: color 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, color 0.3s;
  transition: transform 0.3s, color 0.3s, -webkit-transform 0.3s;
}
.service-card__icon svg {
  display: block;
  width: 50px;
  height: 50px;
}
.service-card__name {
  position: relative;
  display: block;
  margin: 0;
  margin-bottom: 20px;
  padding-bottom: 16px;
  font-size: 20px;
}
.service-card__name::after {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 48px;
  height: 1px;
  background: var(--darkblue);
  -webkit-transition: opacity 0.3s, color 0.3s, width 0.3s;
  transition: opacity 0.3s, color 0.3s, width 0.3s;
  content: "";
  opacity: 0.2;
}
.service-card__description {
  margin: 0;
  margin-bottom: 28px;
  opacity: 0.8;
  text-wrap: balance;
}
.service-card__label {
  display: block;
  margin: 0;
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 400;
  color: var(--darkblue);
  opacity: 0.5;
}
.service-card__price {
  display: block;
  margin: 0;
  margin-bottom: 27px;
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  color: var(--darkblue);
}
.service-card:hover .service-card__icon {
  color: var(--bluviolet);
}
.service-card:hover .service-card__name::after {
  width: 80px;
  background: var(--bluviolet);
  opacity: 1;
}
@media (max-width: 767px) {
  .service-card__price {
    margin-bottom: 12px;
    font-size: 30px;
  }
}

.accordion {
  padding: 24px 0;
  border-bottom: 1px solid;
  border-color: var(--darkblue-02);
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.accordion:first-of-type {
  border-top: 1px solid;
  border-color: var(--darkblue-02);
}
.accordion:hover {
  border-color: var(--darkblue);
}
.accordion__head {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 12px;
  font-size: 24px;
  font-weight: 500;
  line-height: 133%;
  color: var(--darkblue);
  cursor: pointer;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.accordion__head::-webkit-details-marker {
  display: none;
}
.accordion__head::after {
  display: block;
  width: 27px;
  height: 16px;
  margin-left: auto;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  content: "";
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='26' height='15' viewBox='0 0 26 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1L13 13L25 0.999998' stroke='%235B48FC' stroke-width='2'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  background-size: contain;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.accordion__body {
  margin: 0;
  margin-right: 40px;
  margin-left: 40px;
  padding-top: 22px;
  opacity: 0.8;
}
.accordion[open] .accordion__head::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
@media (max-width: 767px) {
  .accordion {
    padding: 15px 0;
  }
  .accordion__head {
    font-size: 20px;
  }
  .accordion__body {
    margin-right: 20px;
    margin-left: 20px;
  }
}

.form {
  font-size: 24px;
  font-weight: inherit;
  line-height: inherit;
}
.form input,
.form textarea {
  position: relative;
  width: 100%;
  height: 70px;
  max-width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  border: none;
  background-color: transparent !important;
}
.form input:focus-visible,
.form textarea:focus-visible {
  outline: none;
}
.form input::-webkit-input-placeholder, .form textarea::-webkit-input-placeholder {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}
.form input::-moz-placeholder, .form textarea::-moz-placeholder {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}
.form input:-ms-input-placeholder, .form textarea:-ms-input-placeholder {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}
.form input::-ms-input-placeholder, .form textarea::-ms-input-placeholder {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}
.form input::placeholder,
.form textarea::placeholder {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}
.form label {
  display: block;
  font-size: 16px;
  font-weight: inherit;
  line-height: 150%;
  color: inherit;
  opacity: 0.8;
}
.form a {
  color: var(--green);
  text-decoration: underline;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.form a:hover, .form a:active, .form a:focus {
  color: var(--bluviolet);
}
.form textarea {
  resize: none;
}
.form__grid {
  display: grid;
  gap: 28px 32px;
  grid-template-columns: repeat(2, 1fr);
}
.form__item {
  position: relative;
  display: grid;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: auto 1fr;
}
.form__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  background-color: var(--white-02);
}
.form__item label {
  max-width: 150px;
}
.form__item:first-of-type::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--white-02);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.form__item:hover::after, .form__item:focus-within::after {
  background-color: var(--bluviolet) !important;
}
.form__item:has(.error) {
  color: var(--red);
}
.form__item:has(.error)::after {
  background-color: var(--red) !important;
}
.form__error-message {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  font-size: 12px;
  color: var(--red);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 0;
}
.error + .form__error-message {
  display: block;
  opacity: 1;
}
.form__item--big {
  grid-column: 1/-1;
}
.form__footer {
  grid-column: 1/-1;
  display: grid;
  gap: 0 32px;
  grid-template-columns: 1fr 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form .button {
  margin-left: auto;
}
.form__agree label {
  position: relative;
  padding-left: 48px;
  cursor: pointer;
}
.form__agree label::before {
  position: absolute;
  top: -3px;
  left: 0;
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 8px;
  -webkit-transition: background-color 0.3s, opacity 0.3s;
  transition: background-color 0.3s, opacity 0.3s;
  content: "";
  background-color: var(--white);
  opacity: 0.2;
}
.form__agree label::after {
  position: absolute;
  top: 6px;
  left: 8px;
  display: block;
  width: 18px;
  height: 15px;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  content: "";
  opacity: 0;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='15' viewBox='0 0 18 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 7L8 13L17 1' stroke='%23131730' stroke-width='2' stroke-linecap='round' /%3e%3c/svg%3e");
}
.form input:checked + label::after {
  opacity: 1;
}
.form input:checked + label::before {
  background-color: var(--green);
  opacity: 1;
}
.form__agree label:hover::before {
  background-color: var(--bluviolet) !important;
  opacity: 1;
}
@media (max-width: 1023px) {
  .form__grid {
    display: block;
  }
  .form__item {
    display: block;
  }
}
@media (max-width: 767px) {
  .form {
    font-size: 20px;
  }
  .form__footer {
    display: block;
  }
  .form input,
  .form textarea {
    height: 45px;
    padding-top: 0;
    padding-bottom: 12px;
  }
  .form__item label {
    max-width: 100%;
    padding-top: 11px;
  }
  .form__agree {
    padding-top: 20px;
    padding-bottom: 25px;
  }
  .form__agree label {
    padding-left: 40px;
  }
  .form__agree label::before {
    top: 0;
    width: 25px;
    height: 25px;
  }
  .form__agree label::after {
    top: 6px;
    left: 4px;
    scale: 0.8;
  }
  .form .button {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }
}

.header {
  position: fixed;
  z-index: 10;
  width: 100%;
  max-width: 100%;
  padding-top: 48px;
  padding-bottom: 20px;
  color: var(--white);
  -webkit-transition: color 0.3s, background-color 0.3s, padding 0.3s, -webkit-box-shadow 0.3s;
  transition: color 0.3s, background-color 0.3s, padding 0.3s, -webkit-box-shadow 0.3s;
  transition: color 0.3s, background-color 0.3s, box-shadow 0.3s, padding 0.3s;
  transition: color 0.3s, background-color 0.3s, box-shadow 0.3s, padding 0.3s, -webkit-box-shadow 0.3s;
}
.header__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  display: block;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin-right: auto;
  color: inherit;
  -webkit-transition: color 0.3s, scale 0.6s;
  transition: color 0.3s, scale 0.6s;
  text-decoration: none;
}
.header__logo svg {
  display: block;
  width: 48px;
  height: 48px;
}
.header__logo:hover, .header__logo:focus, .header__logo:active {
  color: var(--green);
  scale: 1.05;
}
.header__phone {
  display: block;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin-right: 16px;
  margin-left: 16px;
  font-size: 16px;
  font-weight: 700;
  color: inherit;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  text-decoration: none;
}
.header__phone:hover, .header__phone:focus, .header__phone:active {
  color: var(--green);
}
.header__buttons {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(2, auto);
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}
.header .button {
  height: 48px;
  padding: 10px 24px;
  font-size: 16px;
  font-weight: 500;
}
@media (max-width: 1023px) {
  .header__buttons {
    gap: 8px;
  }
}
@media (max-width: 767px) {
  .header {
    padding-top: 20px;
  }
  .header__logo svg {
    width: 40px;
    height: 40px;
  }
  .header__phone {
    margin-right: 10px;
    margin-left: 10px;
  }
}
@media (max-width: 374px) {
  .header__phone {
    margin-right: 6px;
    margin-left: 6px;
    font-size: 14px;
  }
  .header .button {
    height: 40px;
    width: 40px;
    padding: 8px;
  }
}

.section {
  padding-top: 65px;
  padding-bottom: 80px;
}
.section__grid {
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr 2fr;
}
@media (max-width: 1280px) {
  .section__grid {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 767px) {
  .section {
    padding-top: 35px;
    padding-bottom: 50px;
  }
}

.hero {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  padding-top: 120px;
  padding-bottom: 50px;
  color: var(--white);
  background-color: var(--darkblue);
  background-image: url("../img/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hero::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(19, 23, 48, 0.5)), to(rgba(19, 23, 48, 0.5)));
  background: linear-gradient(90deg, rgba(19, 23, 48, 0.5), rgba(19, 23, 48, 0.5));
  content: "";
}
.hero__content {
  position: relative;
  z-index: 2;
  max-width: 866px;
  margin-right: auto;
  margin-left: 0;
}
.hero .title {
  margin-bottom: 7px;
  font-size: 80px;
  line-height: 110%;
  color: inherit;
  text-wrap: balance;
}
.hero .text {
  margin: 0;
  margin-bottom: 35px;
  color: var(--white-07);
}
.hero .text b {
  font-weight: 500;
  color: var(--white);
}
@media (max-width: 1280px) {
  .hero__content {
    max-width: 688px;
  }
  .hero .title {
    margin-bottom: 16px;
    font-size: 64px;
  }
}
@media (max-width: 1023px) {
  .hero__content {
    max-width: 448px;
  }
  .hero .title {
    margin-bottom: 10px;
    font-size: 48px;
  }
  .hero .text {
    margin-bottom: 27px;
  }
}
@media (max-width: 767px) {
  .hero {
    padding-top: 90px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    text-align: center;
  }
  .hero__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: initial;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .hero .title {
    margin-bottom: 14px;
    font-size: 32px;
  }
  .hero .text {
    margin-bottom: 23px;
  }
}

.advantages {
  background-color: var(--bluviolet);
  color: var(--white);
}
.advantages__list {
  display: grid;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 32px;
  grid-template-columns: repeat(6, 1fr);
}
.advantages__item {
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  color: inherit;
}
.advantages__item b {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 6px;
  font-size: 20px;
  font-weight: 700;
  line-height: 140%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.advantages__item b::after {
  display: block;
  width: 1px;
  height: 1px;
  margin-left: 15px;
  -webkit-transition: opacity 0.3s, color 0.3s, width 0.3s;
  transition: opacity 0.3s, color 0.3s, width 0.3s;
  content: "";
  opacity: 0;
  background-color: var(--white);
}
.advantages__item p {
  margin: 0;
}
.advantages__item:hover b::after {
  width: 80px;
  opacity: 1;
}
.advantages__item:last-of-type b::after {
  display: none;
}
@media (max-width: 1280px) {
  .advantages__list {
    gap: 37px 32px;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1023px) {
  .advantages__list {
    gap: 29px 32px;
  }
}
@media (max-width: 767px) {
  .advantages__list {
    gap: 29px 15px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 374px) {
  .advantages__list {
    gap: 29px;
    grid-template-columns: repeat(1, 1fr);
  }
}

.services {
  background-color: var(--darkblue);
  color: var(--white);
}
.services__list {
  display: grid;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 34px 32px;
  grid-template-columns: repeat(4, 1fr);
}
.services__item {
  position: relative;
  padding-bottom: 20px;
  color: inherit;
  text-wrap: balance;
}
.services__item::after {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 1px;
  opacity: 0;
  height: 1px;
  background-color: var(--white);
  -webkit-transition: opacity 0.3s, color 0.3s, width 0.3s;
  transition: opacity 0.3s, color 0.3s, width 0.3s;
}
.services__icon {
  display: block;
  margin-bottom: 18px;
  color: var(--green);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.services__icon svg {
  display: block;
  width: 70px;
  height: 50px;
}
.services__item:hover::after {
  width: 80px;
  opacity: 1;
}
.services__item:hover .services__icon {
  color: var(--bluviolet);
}
@media (max-width: 1023px) {
  .services__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 767px) {
  .services__list {
    gap: 36px 15px;
    grid-template-columns: repeat(2, 1fr);
  }
  .services__icon {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }
}
@media (max-width: 374px) {
  .services__list {
    grid-template-columns: repeat(1, 1fr);
  }
}

.prices__list {
  display: grid;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 42px 32px;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 767px) {
  .prices__list {
    grid-template-columns: repeat(1, 1fr);
  }
}

.faq {
  background-color: var(--bg);
}

.contact-form {
  background-color: var(--darkblue);
  color: var(--white);
}
.contact-form a {
  color: var(--green);
}

.footer {
  position: relative;
  padding-top: 16px;
  padding-bottom: 12px;
  color: var(--white);
  background-color: var(--darkblue);
}
.footer::after {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  -webkit-transition: background-color 0.3s, height 0.3s;
  transition: background-color 0.3s, height 0.3s;
  content: "";
  background-color: var(--white-02);
}
.footer__text {
  margin: 0;
  font-size: 12px;
  opacity: 0.4;
  line-height: 1.3;
}
.footer a {
  color: var(--green);
}

.modal {
  position: fixed;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 0.3s, visibility 0.3s;
  transition: opacity 0.3s, visibility 0.3s;
  inset: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  background-color: var(--darkblue-06);
}
.modal .modal__close {
  position: absolute;
  top: 6px;
  right: 10px;
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 10px;
  color: var(--darkblue);
  border: none;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  cursor: pointer;
  background-color: transparent;
}
.modal .modal__close svg {
  display: block;
  width: 18px;
  height: 18px;
}
.modal .modal__close:hover, .modal .modal__close:active, .modal .modal__close:focus {
  color: var(--bluviolet);
}
.modal .wrapper {
  position: relative;
}
.modal__body {
  position: relative;
  width: 700px !important;
  padding: 50px 65px 45px;
  margin: 0 auto;
  background: #fff;
}
.modal.active {
  pointer-events: initial;
  visibility: visible;
  opacity: 1;
}
@media (max-width: 767px) {
  .modal__body {
    width: 100% !important;
    padding: 34px 30px 30px;
  }
}
.modal .form__grid {
  grid-template-columns: repeat(1, 1fr);
}
.modal .form__footer {
  grid-column: initial;
  gap: 32px;
  grid-template-columns: 1fr;
}
.modal .form .button {
  margin-left: 0;
}
.modal .form__item::after {
  background-color: var(--darkblue-02);
}

.content {
  max-width: 100%;
}
.content ol,
.content ul {
  list-style: none;
  padding-left: 0;
}

.header-sticky .header {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--white);
  color: var(--darkblue);
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
}

.modal-open {
  overflow: hidden;
}
.modal-open .header {
  margin-right: 17px;
}

.inner-page .header {
  background-color: var(--darkblue);
  color: var(--white);
}
.inner-page .main {
  padding-top: 120px;
}
@media (max-width: 767px) {
  .inner-page .main {
    padding-top: 90px;
  }
}

.click {
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.click:hover, .click:focus {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}
.click:active {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  -webkit-transition: -webkit-transform 0.1s ease;
  transition: -webkit-transform 0.1s ease;
  transition: transform 0.1s ease;
  transition: transform 0.1s ease, -webkit-transform 0.1s ease;
}/*# sourceMappingURL=main.css.map */