.footer {
  position: relative;
  padding-top: 16px;
  padding-bottom: 12px;
  color: var(--white);
  background-color: var(--darkblue);

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    transition:
      background-color 0.3s,
      height 0.3s;
    content: '';
    background-color: var(--white-02);
  }

  &__text {
    margin: 0;
    font-size: 12px;
    opacity: 0.4;
    line-height: 1.3;
  }

  a {
    color: var(--green);
  }
}
