.form {
  font-size: 24px;
  line-height: inherit;
  font-weight: inherit;

  input,
  textarea {
    max-width: 100%;
    width: 100%;
    height: 70px;
    background-color: transparent !important;
    border: none;
    position: relative;
    font-size: inherit;
    color: inherit;
    font-weight: inherit;
    padding-top: 20px;
    padding-bottom: 20px;

    &:focus-visible {
      outline: none;
    }

    &::placeholder {
      font-size: inherit;
      color: inherit;
      font-weight: inherit;
    }
  }

  label {
    display: block;
    font-weight: inherit;
    font-size: 16px;
    line-height: 150%;
    color: inherit;
    opacity: 0.8;
  }

  a {
    color: var(--green);
    text-decoration: underline;
    transition: color 0.3s;

    &:hover,
    &:active,
    &:focus {
      color: var(--bluviolet);
    }
  }

  textarea {
    resize: none;
  }

  &__grid {
    display: grid;
    gap: 28px 32px;
    grid-template-columns: repeat(2, 1fr);
  }

  &__item {
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      position: absolute;
      left: 0;
      bottom: 0;
      background-color: var(--white-02);
      transition: background-color 0.3s, height 0.3s;
    }

    display: grid;
    gap: 16px;
    align-items: center;
    grid-template-columns: auto 1fr;

    label {
      max-width: 150px;
    }
  }

  &__item:first-of-type {
    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      position: absolute;
      left: 0;
      top: 0;
      background-color: var(--white-02);
      transition: background-color 0.3s, height 0.3s;
    }
  }

  &__item:hover,
  &__item:focus-within {
    &::after {
      background-color: var(--bluviolet) !important;
      height: 3px;
    }
  }

  &__item:has(.error) {
    color: var(--red);

    &::after {
      background-color: var(--red) !important;
      height: 3px;
    }
  }

  &__error-message {
    color: var(--red);
    position: absolute;
    top: 100%;
    left: 0;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s;
    display: none;
  }

  .error+&__error-message {
    display: block;
    opacity: 1;
  }

  &__item--big {
    grid-column: 1 / -1;
  }

  &__footer {
    grid-column: 1 / -1;
    display: grid;
    gap: 0 32px;
    grid-template-columns: 1fr 200px;
    align-items: center;
  }

  .button {
    margin-left: auto;
  }

  &__agree {
    label {
      position: relative;
      padding-left: calc(32px + 16px);
      cursor: pointer;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: -3px;
        left: 0;
        border-radius: 8px;
        width: 32px;
        height: 32px;
        background-color: var(--white);
        opacity: 0.2;
        transition: background-color 0.3s, opacity 0.3s;
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 6px;
        left: 8px;
        width: 18px;
        height: 15px;
        opacity: 0;
        transition: opacity 0.3s;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='15' viewBox='0 0 18 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 7L8 13L17 1' stroke='%23131730' stroke-width='2' stroke-linecap='round' /%3e%3c/svg%3e");
      }
    }
  }

  input:checked+label::after {
    opacity: 1;
  }

  input:checked+label::before {
    background-color: var(--green);
    opacity: 1;
  }

  &__agree label:hover::before {
    background-color: var(--bluviolet) !important;
    opacity: 1;
  }

  @media (width <=1023px) {
    &__grid {
      display: block;
    }

    &__item {
      display: block;
    }
  }

  @media (width <=767px) {
    font-size: 20px;

    &__footer {
      display: block;
    }

    input,
    textarea {
      height: 45px;
      padding-top: 0;
      padding-bottom: 12px;
    }

    &__item {
      label {
        max-width: 100%;
        padding-top: 11px;
      }
    }

    &__agree {
      padding-top: 20px;
      padding-bottom: 25px;

      label {
        padding-left: calc(15px + 25px);
      }

      label::before {
        top: 0;
        width: 25px;
        height: 25px;
      }

      label::after {
        top: 6px;
        left: 4px;
        scale: 0.8;
      }
    }

    .button {
      margin: 0 auto;
      max-width: 100%;
      width: 100%;
    }
  }
}
