.hero {
  min-height: 100vh;
  background-color: var(--darkblue);
  color: var(--white);
  background-image: url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 120px;
  padding-bottom: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  &::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(
      90deg,
      rgba(19, 23, 48, 0.5),
      rgba(19, 23, 48, 0.5)
    );
  }

  &__content {
    max-width: 866px;
    margin-left: 0;
    margin-right: auto;
    position: relative;
    z-index: 2;
  }
  .title {
    font-size: 80px;
    line-height: 110%;
    color: inherit;
    margin-bottom: 7px;
    text-wrap: balance;
  }
  .text {
    margin: 0;
    color: var(--white-07);
    margin-bottom: 35px;
    b {
      color: var(--white);
      font-weight: 500;
    }
  }

  @media (max-width: 1280px) {
    &__content {
      max-width: 688px;
    }
    .title {
      font-size: 64px;
      margin-bottom: 16px;
    }
  }

  @media (max-width: 1023px) {
    &__content {
      max-width: 448px;
    }
    .title {
      font-size: 48px;
      margin-bottom: 10px;
    }
    .text {
      margin-bottom: 27px;
    }
  }
  @media (max-width: 767px) {
    padding-top: 90px;
    justify-content: flex-end;
    text-align: center;
    &__content {
      max-width: initial;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
    }
    .title {
      font-size: 32px;
      margin-bottom: 14px;
    }
    .text {
      margin-bottom: 23px;
    }
  }
}
