// Служебные стили
.modal {
  position: fixed;
  z-index: 9999;
  display: flex;
  width: 100%;
  height: 100%;
  transition:
    opacity 0.3s,
    visibility 0.3s;
  inset: 0;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  background-color: var(--darkblue-06);

  // .form__item:has(.button) {
  //   margin-top: 0;
  // }

  .modal__close {
    position: absolute;
    top: 6px;
    right: 10px;
    display: block;
    width: max-content;
    padding: 10px;
    color: var(--darkblue);
    border: none;
    transition: color 0.3s;
    cursor: pointer;
    background-color: transparent;

    svg {
      display: block;
      width: 18px;
      height: 18px;
    }

    &:hover,
    &:active,
    &:focus {
      color: var(--bluviolet);
    }
  }

  .wrapper {
    position: relative;
  }

  &__body {
    position: relative;
    width: 700px !important;
    padding: 50px 65px 65px;
    margin: 0 auto;
    background: #fff;
  }

  &.active {
    pointer-events: initial;
    visibility: visible;
    opacity: 1;
  }

  @media (width <=767px) {
    &__body {
      width: 100% !important;
      padding: 34px 30px 30px;
    }
  }

  // Стилизация контента

  .form__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .form__footer {
    grid-column: initial;
    gap: 32px;
    grid-template-columns: 1fr;
  }

  .form .button {
    margin-left: 0;
  }

  .form__item::after {
    background-color: var(--darkblue-02);
  }
}
