.prices {
  &__list {
    display: grid;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 42px 32px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 767px) {
    &__list {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
