html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
  scrollbar-gutter: stable;
}

html *,
html *::before,
html *::after {
  box-sizing: border-box;
}

body {
  position: relative;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  font-size: 18px;
  font-family: var(--font-family);
  font-weight: 300;
  line-height: 133%;
  color: var(--darkblue);
  overflow-x: hidden;
  background-color: var(--white);
  font-style: normal;

  @media (max-width: 767px) {
    font-size: 16px;
  }
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  max-width: 100%;
  overflow: auto;
}

td,
th {
  min-width: 320px;
  padding: 16px 12px;
  border: 1px solid var(--darkblue);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.4;
}

@media (max-width: 767px) {
  h1 {
    font-size: 1.6em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.4em;
  }

  h4 {
    font-size: 1.3em;
  }

  h5 {
    font-size: 1.2em;
  }

  h6 {
    font-size: 1.1em;
  }
}
