:root {

  --font-family: "Inter", sans-serif;

  --white: #fff;
  --white-07: rgba(255, 255, 255, 0.7);
  --white-02: rgba(255, 255, 255, 0.2);
  --red: #f31717;
  --darkblue: #131730;
  --darkblue-02: rgba(19, 23, 48, 0.2);
  --darkblue-06: rgba(19, 23, 48, 0.6);
  --bg: #f2f6f9;
  --bluviolet: #5b48fc;
  --green: #9de311;
}
