.accordion {
  padding: 24px 0;
  border-bottom: 1px solid;
  border-color: var(--darkblue-02);
  transition: border-color 0.3s;

  &:first-of-type {
    border-top: 1px solid;
    border-color: var(--darkblue-02);
  }

  &:hover {
    border-color: var(--darkblue);
  }

  &__head {
    position: relative;
    display: flex;
    margin-right: 12px;
    font-size: 24px;
    font-weight: 500;
    line-height: 133%;
    color: var(--darkblue);
    cursor: pointer;
    list-style: none;
    align-items: center;

    &::-webkit-details-marker {
      display: none;
    }

    &::after {
      display: block;
      width: 27px;
      height: 16px;
      margin-left: auto;
      transition: transform 0.3s;
      content: "";
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='26' height='15' viewBox='0 0 26 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1L13 13L25 0.999998' stroke='%235B48FC' stroke-width='2'/%3e%3c/svg%3e ");
      background-repeat: no-repeat;
      background-size: contain;
      flex-shrink: 0;
    }
  }

  &__body {
    margin: 0;
    margin-right: 40px;
    margin-left: 40px;
    padding-top: 22px;
    opacity: 0.8;
  }

  &[open] &__head::after {
    transform: rotate(180deg);
  }

  @media (max-width: 767px) {
    padding: 15px 0;

    &__head {
      font-size: 20px;
    }

    &__body {
      margin-right: 20px;
      margin-left: 20px;
    }
  }
}
