.section {
  padding-top: 65px;
  padding-bottom: 80px;

  &__grid {
    display: grid;
    gap: 32px;
    grid-template-columns: 1fr 2fr;
  }

  @media (max-width: 1280px) {
    &__grid {
      grid-template-columns: 1fr;
    }
  }

  @media (max-width: 767px) {
    padding-top: 35px;
    padding-bottom: 50px;
  }
}
