.service-card {
  &__icon {
    display: block;
    width: 50px;
    margin-bottom: 16px;
    color: var(--green);
    transition: transform 0.3s, color 0.3s;

    svg {
      display: block;
      width: 50px;
      height: 50px;
    }
  }
  &__name {
    display: block;
    margin: 0;
    font-size: 20px;
    padding-bottom: 16px;
    margin-bottom: 20px;
    position: relative;
    &::after {
      content: "";
      width: 48px;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 0;
      background: var(--darkblue);
      opacity: 0.2;
      transition: opacity 0.3s, color 0.3s, width 0.3s;
      display: block;
    }
  }
  &__description {
    margin: 0;
    margin-bottom: 28px;
    opacity: 0.8;
    text-wrap: balance;
  }
  &__label {
    display: block;
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    color: var(--darkblue);
    opacity: 0.5;
    margin-bottom: 6px;
  }
  &__price {
    display: block;
    margin: 0;
    margin-bottom: 27px;
    font-weight: 700;
    font-size: 40px;
    line-height: 1;
    color: var(--darkblue);
  }

  &:hover &__icon {
    color: var(--bluviolet);
  }

  &:hover &__name::after {
    width: 80px;
    background: var(--bluviolet);
    opacity: 1;
  }
}
