.title {
  margin: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 125%;

  span {
    color: var(--green);
  }

  @media (max-width: 1280px) {}

  @media (max-width: 767px) {
    font-size: 24px;
  }
}
