.inner-page {
  .header {
    background-color: var(--darkblue);
    color: var(--white);
  }

  .main {
    padding-top: 120px;
  }

  @media (max-width: 767px) {
    .main {
      padding-top: 90px;
    }
  }
}
